#Carousel
{
	width: 100%;
	height: 400px;
	margin-bottom: 7px;
}
#Carousel .carousel-inner .item img
{
	width: 100%;
	height: 400px;
}
.lbl
{
	background-color: pink;
	padding :10px 20px;
	border-radius: 50px;
	color: blue;
}
.navbar
{
	background-color: #fbfbfb;
	border:1px solid #dddddd;
}
.navbar li a
{
	color: #818181;
}
.navbar li a:hover
{
	background-color:#fff;
	font-weight: bold;
	border-bottom: 2px solid #99ffcc;/*//dddddd;*/
	border-radius: 10px;
}

.navbar1
{
	background-color: #818181;
	border:1px solid #dddddd;
	margin-bottom: 20px;
}
.navbar1 .navbar-logo a
{
	color: #fff;
}
.navbar1 .navbar-nav li a
{
	color: #fff;
	background: none;
}
.navbar1 .navbar-nav li a:hover
{
	/*border-bottom: 1px solid #fff;*/
	border: 1px solid #fff;
	background: none;
	color: blue;
	font-weight: bold;
	border-radius: 15px;
	background-color: greenyellow;
}
.navbar1 .navbar-nav li a:focus
{
	background-color: transparent;
}
.navbar1 .navbar-nav .dropdown-menu 
{
	/*background-color: lime;*/
	width: 210px;
}
.navbar1 .navbar-nav .dropdown-menu li a
{
	color: #818181;
	padding-top: 7px;
	padding-bottom: 7px;
}
.navbar1 .navbar-nav .dropdown-menu li a:hover
{
	background-color: #818181;
	color: #fff;
	border-left: 2px solid #99ffcc;
}
.well
{
	color: #fff;
	/*border:2px solid #fff !important;*/
	border:2px solid yellow !important;
	border-radius: 15px !important;
	background-color: green !important;

}
.btn-submit
{
	color: #fff;
	border:2px solid yellow !important;
	background-color: green !important;
}


/*MODALS*/

/*#LoginModal 
{
	background-color: lime;
	opacity: 0.3;
}
*/
#LoginModal .modal-content
{
	background-color: silver;
	margin-top: 70px;
}


/*  landing page  */

#landingPage
{
	background-color: #d9edf7c2;
	/*height: 500px;*/
	border-radius: 15px;
	padding: 10px;
}
#landingPage #home
{
	background-color: #660000;
	color: #fff;
	padding: 10px;
}
#landingPage #about
{
	background-color: #666600;
	color: #fff;
	padding: 10px;
}
#landingPage #contact
{
	background-color: #6699cc;
	color: #fff;
	padding: 10px;
}

/* End landing page  */






/*END MODALS*/
.belo
{
	/*border:0.5px solid silver;*/
	background-color:#e2cddd75;
	padding: 5px 0;
}
.sidebar	
{
	/*border:0.5px solid silver;*/
	/*padding: 10px;*/
	margin-top: 7px;
}
.imgbox
{
	margin-bottom: 20px;
	/*margin-left: 30px;*/
	/*width: 300px;*/
}
.imgbox img
{
	width: 100%;
	box-shadow: 0px 2px 30px blue;	
	margin-left: 10px;
}
.imgbox button
{
	margin-left: 10px;
}
.menu
{
	/*background-color: olive;*/
	/*margin-left: -10px;*/
	/*width: 350px;*/
}
.menu ul li
{
	list-style: none;
	cursor: pointer;
	padding: 7px 0 7px 0;
	/*border-bottom:1px solid silver;*/
}
.menu ul li a
{
	text-decoration: none;
	color: gray;
	font-size: 15px;
	font-weight: bold;
}
.menu ul li:hover
{
	font-size: 17px;
	font-weight: bolder;
	background-color: #fff;
}
/*.col-lg-4.col-md-6.col-sm-12.text-center
{
}
*/
.col-lg-4.col-md-6.col-sm-12.text-center img
{
	height: 170px;
}
.thumbnail
{
	padding: 7px !important;
}
.caption
{
	font-weight: bold;
}

.srcImg img
{
	width: 150px;
	height: 150px;
	margin-top: -15px;
	margin-bottom: 5px;
	/*position: absolute;*/
	box-shadow: 2px 3px 30px blue;
	/*box-shadow: 10px 5px 25px #99ffcc;*/
	/*(x , y , blur-radius, background-color) */
}
#panel .container-fluid .row .col-sm-3 .panel-primary .panel-heading h2
{
	font-size: 72px;
	text-align: center;
} 
#panel .container-fluid .row .col-sm-3 .panel-primary .panel-heading h4
{
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin-right: 35px;
}
#panel .container-fluid .row .col-sm-3 .panel-success .panel-heading
{
	background-color: #008080;
	color: #fff;
}
#panel .container-fluid .row .col-sm-3 .panel-success .panel-heading h2
{
	font-size: 72px;
	text-align: center;
}
#panel .container-fluid .row .col-sm-3 .panel-success .panel-heading h4
{
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin-right: 70px;
}
#panel .container-fluid .row .col-sm-3 .panel-warning .panel-heading
{
	background-color: #ff7f50;
	color: #fff;
}
#panel .container-fluid .row .col-sm-3 .panel-warning .panel-heading h2
{
	font-size: 72px;
	text-align: center;
}
#panel .container-fluid .row .col-sm-3 .panel-warning .panel-heading h4
{
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin-right: 60px;
}
#panel .container-fluid .row .col-sm-3 .panel-danger .panel-heading
{
	background-color: #ff4444;
	color: #fff;
}
#panel .container-fluid .row .col-sm-3 .panel-danger .panel-heading h2
{
	font-size: 72px;
	text-align: center;
}
#panel .container-fluid .row .col-sm-3 .panel-danger .panel-heading h4
{
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin-right: 15px;
}
#model
{
	background-color: olive;
	padding: 20px;
	text-align: center;
	margin: 5px 0px 15px 0;
}

footer
{
	background-color: silver;
	/*height: 70px;*/
}
footer h1
{
	padding: 15px 10px;
	text-align: center;
	font-weight: bolder;
	color: red;
}